.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation{
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
  background-color: #fbe9b7;
}
.navigation li{
  list-style: none;
  padding:7px;
  border:1px solid #999999;
}

.App-link {
  color: #61dafb;
}
.toggleContent{
  display:none;
  padding:30px;
  margin-top:10px;
  border:1px solid #999999;
}
.show{
  display:block;
}
.hide{
  display:none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hohoho{
  border:1px solid gray;
}

.container{
  min-height:800px;
}